---
import { ClientRouter } from 'astro:transitions';
import '../styles/main.scss';

const isProd = import.meta.env && import.meta.env.PROD;
---

<html lang="en">
  <head>
    <slot name="head" />
    <ClientRouter />
    {
      isProd && (
        <script
          defer
          src="https://umami.sun-envidiado.com/script.js"
          data-website-id="bbd2687f-9a6a-4aa4-8813-f5f431278ef6"
        />
      )
    }
  </head>
  <body>
    <a class="skip-link" href="#main" aria-label="Skip to main content">Skip to content</a>
    <main id="main">
      <div class="content-wrapper">
        <slot />
      </div>
    </main>
    <div id="crt-overlay-container"></div>
  </body>
</html>

<style is:global>
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 0.06s;
    animation-timing-function: ease-out;
  }
</style>
